*{
    font-family: Roboto;
}

.headercls{
    
    background-color: #1F2937;
    color: #F9FAF8;
   
    

}
#logo{
    width: 100px;
    height: 80px;
    margin-top: 10px;
    margin-right: 500px;
    border-radius: 50%;
   
}
a:link{
    color: #F9FAF8;
    text-decoration: none;
}
.Nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
div p{
    font-size: 18px;
    color: #E5E7EB;
}
.Writing h1{
    font-size: 48px;
    font-weight:900 ;
}
.navElem{
    margin:0px 5px 5px 5px;
}

.Hcont{
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 7px;
    padding: 2px 20px 2px 20px;
    

}
.images h1{
    text-align: center;
    font-size: 36px;
    color: #1F2937;

}
.Icontent{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.Icontent img{
    height: 160px;
    width: 110px;
    border: 2px solid #3882F6;
    border-radius: 30px;
}
.quote{
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    
}
.SignAction{
    margin:50px 40px 50px 40px ;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.Calltoaction{
    border-radius: 30px;
    display: flex;
    background-color:#3882F6;
    justify-content:space-evenly;
    align-items: center;
    width:70%;
    padding:30px 60px;
    box-sizing: border-box;
    
}

.QBut button{
    border-color: white;
}
footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
.Qtext {
    display: flex;
    flex-direction: column;
}

.Qtext p:first-child {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.Qtext p:last-child {
    font-size: 14px;
    color: #E5E7EB;
    margin: 0;
}

